body {
  text-align: center;
  overflow: hidden;
}

#topbar {
  width: 100%;
  background-color: #4400EE;
}

#content {
  background-color: #EE5544;
}

#footer {
  width: 100%;
  background-color: #4400EE;
}
